* {
  margin: 0;
  padding: 0;
}
/********** Base styles**********/
body {
  font-size: 16px;
  color: black;
  background-color: #DFE2DB;
  font-family: 'Oxygen', 'Helvetica','Arial','sans-serif';
}

h1{
  text-align: center;
  color: #3289FF;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size:1.25em

}
section {
  position:relative;
  padding:10px;
  padding-bottom:0px;
  box-sizing:border-box;
  }

h2 {
  font-size:1.25em;
  padding:5px;
  padding-bottom:5px;
  padding-top: 5px;;
  border:1px solid black;
  display:inline;
  position:absolute;
  top:15px;
  right:15px;
  }

#section2 h2{background: #eee}
#section3 h2{background: #ddd;}

section p{  
  background: #f7f7fa;
  border:1px solid #ccc;
  padding:10px;
  padding-top:40px
}

/********** Large devices only like Desktop**********/
  
@media(min-width:992px){

  section{width:33%;float:left}
  #section1{padding-right:5px;}
  #section2{padding-right:5px;padding-left:5px;}
  #section3{padding-left:5px;}
}

  
/********** Medium devices only like Tablet**********/
@media (min-width:767px) and (max-width:991px){
  #section1{width:50%;float:left;padding-right:5px;}
  #section2{width:50%;float:left;padding-left:5px;}
  #section3{clear:both;}

}
  

/********** Small devices only like MobilePhone**********/
@media (max-width: 767px) {
  
      #section1{clear:both;}
      #section2{clear:both;}
      #section3{clear:both;}
  
}